@model CodeWeb.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/LayoutAdmin.cshtml";
}
@{ CodeWeb.Models.NhanVien nv = Session["NV"] as CodeWeb.Models.NhanVien;
    if (nv == null)
    {
        Response.Redirect("/Auth/Dangnhap");
    } }
<div class="container mt-5">
    <h2>Chi tiết thông tin khách hàng</h2>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thông tin Khách Hàng</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Họ tên Khách Hàng</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.HoTenKH)</dd>

                <dt class="col-sm-3">Giới tính</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.GioiTinhKH)</dd>

                <dt class="col-sm-3">Ngày sinh</dt>
                <dd class="col-sm-9">@Model.NgaySinhKH.ToString("dd/MM/yyyy")</dd>

                <dt class="col-sm-3">Số điện thoại</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SoDienThoaiKH)</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.EmailKH)</dd>

                <dt class="col-sm-3">Địa chỉ</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DiaChiKH)</dd>

                <dt class="col-sm-3">Tên tài khoản</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TenTK)</dd>
            </dl>
        </div>
    </div>

    <p class="mt-3">
        @Html.ActionLink("Quay lại danh sách Khách Hàng", "ShowKhachHang", null, new { @class = "btn btn-secondary" })
    </p>
</div>

