@model CodeWeb.Models.LoVaccine

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Home/LayoutAdmin.cshtml";
}
@{ CodeWeb.Models.NhanVien nv = Session["NV"] as CodeWeb.Models.NhanVien;
    if (nv == null)
    {
        Response.Redirect("/Auth/Dangnhap");
    } }
<h2>Thêm Lô Vaccine</h2>

@using (Html.BeginForm("Create", "LoVaccine", FormMethod.Post, new { onsubmit = "return validateExpirationDate();" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Thông tin lô Vaccine</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.HanSuDung, "Hạn sử dụng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HanSuDung, new { htmlAttributes = new { @class = "form-control", type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })
            @Html.ValidationMessageFor(model => model.HanSuDung, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.MaVC, "Vaccine", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaVC", null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaVC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongLoVC, "Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongLoVC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongLoVC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm lô Vaccine" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trờ về danh sách", "ShowLoVCs", null, new { @class = "btn btn-secondary" })
</div>
